/* styles.css */
body{
  font-family: "Bree Serif", serif !important;

}
.app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-direction: column;
    background-color: #f9cff2; /* Light Gray */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    font-family: "Bree Serif", serif !important;
  }
  .title {
    font-size: 32px;
    color: #12197f;
    margin-bottom: 20px;
    font-family: "Bree Serif", serif !important;
  }
  